/* App.css */

.App {
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: url('https://parknich.xyz/cursor.cur'), auto; /* Ensure this path is correct */
  /* cursor: url('E:\Projects\Web\parkn.lol\frontend\public\cursor.cur'), auto; */
}

a {
  cursor: url('https://parknich.xyz/cursor.cur'), auto !important; /* Ensure links also use the custom cursor */
  /* cursor: url('E:\Projects\Web\parkn.lol\frontend\public\cursor.cur'), auto !important; */
}

.enter-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* Adjust the duration and easing as needed */
  cursor: url('https://parknich.xyz/cursor.cur'), auto !important; /* Ensure enter screen also use the custom cursor */
}

.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.7vmin); 
  color: white;
  position: relative;
  z-index: 2;
}

.bio-box {
  background-color: rgba(82, 82, 82, 0.8);
  color: black;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  width: 550px;
  margin: 20px;
  z-index: 3;
  position: relative;
  text-align: left;
  overflow: hidden;
  border: 2px solid black; /* Changed border color to black */
}


.discord-invite {
  background-color: rgba(59, 57, 57, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 470px;
  width: 100%; /* Ensure full width */
  margin: 20px auto; /* Center align and add margin */
  z-index: 3;
  position: relative;
  text-align: left;
  overflow: hidden;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: space-between; /* Space between items */
  border: 2px solid black; /* Changed border color to black */
}

.discord-info {
  display: flex;
  align-items: center;
  width: 100%; /* Take up full width */
  margin-bottom: 10px; /* Spacing between discord-info and button */
}

.discord-text {
  flex: 1; /* Take up remaining space */
  overflow: hidden;
}


.discord-invite .discordOnlineMembers,
.discord-invite .discordMembers {
  font-size: 0.4em;
  max-width: 300px; /* Adjust max-width to prevent overflow */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Show ellipsis (...) for overflow text */
}


.discord-invite .discordName {
  font-weight: bold;
  font-size: 0.6em;
  overflow: visible; /* Show full content */
  text-overflow: unset; /* Disable ellipsis */
  white-space: nowrap;
}

.join-button {
  background-color: #7289da; /* Discord blue */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  font-size:0.6em;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  overflow: visible;
  margin-left: 20px; /* Add spacing between info and button */
  border: 2px solid #5f73bc
}


.join-button:hover {
  background-color: #5f73bc; /* Darker shade of Discord blue */
}
.divider {
  height: 2px; /* Height of the divider */
  width: 100%; /* Full width */
  background-color: black; /* Divider color */
  margin: 20px 0; /* Margin for spacing */
  border-radius: 1px; /* Adjust radius for rounded appearance */
}
  

.discord-invite .discord-server-image {
  width: 50px; /* Adjust size of Discord server image */
  height: 50px;
  border-radius: 8px; /* Rounded corners for server image */
  margin-right: 20px;
}


.discord-invite p {
  margin: 0;
  font-size: 1em;
  line-height: 1.5;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis (...) for overflow text */
}


.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-header img {
  border-radius: 50%;
  margin-right: 20px;
  width: 125px; 
  height: 125px; 
  object-fit: cover;
}

.username {
  font-size: 1.275em; 
  font-weight: bold;
  margin: 0;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8); /* Black glow effect */
}

.bio-text {
  font-size: 0.9em; 
  margin: 0;
  display: inline-block;
  overflow: hidden; /* Hide overflow to prevent cursor from moving text */
  vertical-align: bottom; /* Align cursor properly */
  color: black; /* Text color */
}

.bio-text::after {
  content: '|'; /* Blinking cursor */
  animation: blink-caret 0.75s step-end infinite; /* Blink animation */
  color: black; /* Set cursor color to black */
  font-size: 1.1em; /* 10% bigger than the bio text */
}

@keyframes blink-caret {
  from, to { color: transparent; }
  50% { color: black; } /* Change cursor color to black */
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Set width to 100% of the viewport */
  height: 100%; /* Set height to 100% of the viewport */
  object-fit: cover; 
  z-index: 1;
  overflow: hidden;
}

.profile-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add margin for spacing */
}

.profile-link {
  margin: 0 3px; /* Adjust spacing between icons */
}

.profile-link-icon {
  height: 40px; /* Adjust size of icons */
}

.profile-link-icon:hover {
  transform: scale(1.1); /* Scale the image to 110% of its original size on hover */
}

.profile-link.discord img {
  /* Specific styles for Discord icon */
  height: 40px;
}

.profile-link.roblox img {
  /* Specific styles for Roblox icon */
  height: 50px;
}

.profile-link.namemc img {
  /* Specific styles for NameMC icon */
}

.profile-link.youtube img {
  /* Specific styles for YouTube icon */
  height: 45px;
}

.profile-link.reddit img {
  /* Specific styles for Reddit icon */
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black; /* Change background to black */
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5; /* Ensure the loading screen is above all other elements */
  font-size: 1.5em;
}
.loading-screen p {
  color: white;
}

.loading-spinner {
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-top: 8px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-right: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
